
project_id = "tsgbptmfvyhpfpefdbsn"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]

[db]
port = 54322

[studio]
port = 54323

[inbucket]
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true

[functions]
[functions.create-checkout]
verify_jwt = true
[functions.process-payment]
verify_jwt = false
[functions.verify-payment]
verify_jwt = true
[functions.increment-credits]
verify_jwt = true
[functions.bible-api]
verify_jwt = false
